<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- =========================
             Configuração do Banco H2
             ========================= -->

        <property name="hibernate.connection.driver_class">
            org.h2.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:h2:file:./database/fillbpai;AUTO_SERVER=TRUE;DB_CLOSE_DELAY=-1
        </property>

        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <property name="hibernate.dialect">
            org.hibernate.dialect.H2Dialect
        </property>

        <!-- =========================
             Comportamento do Hibernate
             ========================= -->

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">true</property>

        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.connection.charSet">UTF-8</property>

        <!-- Evita problemas de fuso horário -->
        <property name="hibernate.jdbc.time_zone">UTC</property>

        <mapping class="br.gov.ses.fillbpai.model.AtendimentoBPAi"/>

    </session-factory>
</hibernate-configuration>
